{{- /* ascii rain hover easter egg; pair with class "rain-hover" on the containing link/span */ -}}
<span class="rain-confetti" aria-hidden="true">
  <span>0</span>
  <span>1</span>
  <span>{</span>
  <span>}</span>
  <span>&lt;</span>
  <span>&gt;</span>
  <span>/</span>
  <span>\</span>
  <span>;</span>
  <span>:</span>
  <span>+</span>
  <span>~</span>
  <span>=</span>
  <span>-</span>
  <span>_</span>
  <span>|</span>
  <span>#</span>
  <span>$</span>
  <span>%</span>
  <span>&amp;</span>
  <span>(</span>
  <span>)</span>
  <span>[</span>
  <span>]</span>
</span>
